:root {
  --color-bg: #ffffff;
  --color-text: #333333;
  --color-card: #fff;
  --color-card-shadow: rgba(0, 0, 0, 0.5);
}



/* Reset básico de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

/* Encabezado */
header {
  background-color: #333;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navegación */
nav {
  background-color: #444;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  margin: 5rem;
}

nav ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}

/* Sección principal */
main {
  padding: 20px;
}

/* Pie de página */
footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
  color: #fff;
  margin-top: 20px;
}

/* Estilos adicionales */
.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

nav ul li a:hover {
  background-color: #ff0000;
  border-radius: 5px;
}

/* Sección principal */
main {
  padding: 20px;
  margin-top: 20px; /* Agrega un margen superior */
}

/* Contenedor de contenido con espaciado a los lados */
.content-container {
  padding-left: 25rem;
  padding-right: 25rem;
  padding-top: 3rem; /* Agrega un relleno superior */
  padding-bottom: 3rem; /* Agrega un relleno inferior */
}
/* Encabezado */
header {
  background-image: linear-gradient(to right, #555, #f4f4f4);
  padding: 20px;
  text-align: center;
}

.header-image {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.header-contact {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.header-contact a {
  display: inline-block;
  margin-left: 10px;
}

.header-contact img {
  width: 24px;
  height: 24px;
  filter: invert(1);
}

.project-image {
  display: block;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 10px;
  max-width: 80%;
}
/* Estilos para la tarjeta del proyecto */
.project-card {
  color: var(--color-text);
  background-color: var(--color-card);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.project-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

/* Media Queries - Responsive */
@media (max-width: 1200px) {
  .content-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .project-image {
    display: block;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 5px;
  }

  nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 5px 0;
  }

  nav ul li {
    padding: 5px 4px; /* Ajustamos el padding aquí */
  }

  nav ul li a {
    margin: 1rem; /* Ajustamos el margen aquí */
  }
}

  .header-content {
    flex-direction: column;
  }

/* Nuevos estilos para Header */
.header-image {
  padding: 5rem;
  display: flex;
  align-items: center;
}

.header-contact {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.header-contact a {
  display: inline-block;
  margin-left: 10px;
}

.header-contact img {
  width: 24px;
  height: 24px;
  filter: invert(1); /* Invertimos los colores de los íconos para hacerlos visibles */
}

.header-contact {
  margin-bottom: 1rem;
  }
  .project-image {
    display: block;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 100%;
  }



@media (max-width: 530px) {
  .content-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .header-image {
    padding: 0.5rem;
  }

  .header-contact {
    flex-wrap: nowrap;
  }

  .header-contact a {
    margin-left: 10px;
    margin-top: 0;
  }
  nav ul li {
    padding: 5px 5px;
  }

  nav ul li a {
    margin: 0.5rem;
  }
  .project-image {
    display: block;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 100%;
  }
}
@media (max-width: 310px) {
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    padding: 5px 0;
    text-align: center;
  }

  nav ul li a {
    margin: 0.5rem;
  }
}


input[type='range'] {
  -webkit-appearance: none;
  width: 55px;
  height: 20px;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--thumb-color);
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.3s ease-in-out;
}

input[type='range']::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--thumb-color);
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.3s ease-in-out;
}

input[type='range']:active::-webkit-slider-thumb {
  background: #ccc;
}

input[type='range']:active::-moz-range-thumb {
  background: #ccc;
}
