/* Reset básico de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

/* Encabezado */
header {
  background-color: #333;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navegación */
nav {
  background-color: #444;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  margin: 5rem;
}

nav ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}

/* Sección principal */
main {
  padding: 20px;
}

/* Pie de página */
footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
  color: #fff;
  margin-top: 20px;
}

/* Estilos adicionales */
.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

nav ul li a:hover {
  background-color: #ff0000;
  border-radius: 5px;
}

/* Contenedor de contenido con espaciado a los lados */
.content-container {
  padding-left: 20rem;
  padding-right: 20rem;
}

.header-image {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.header-contact {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.header-contact a {
  display: inline-block;
  margin-left: 10px;
}

.header-contact img {
  width: 24px;
  height: 24px;
  filter: invert(1);
}

.project-image {
  display: block;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 10px;
  max-width: 80%;
}

/* Media Queries - Responsive */
@media (max-width: 1200px) {
  .content-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .project-image {
    display: block;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 5px;
  }

  nav ul {
    display: block;
    text-align: center;
  }

  nav ul li {
    padding: 5px 0;
  }

  .content-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .header-content {
    flex-direction: column;
  }

/* Nuevos estilos para Header */
.header-image {
  padding: 5rem;
  display: flex;
  align-items: center;
}

.header-contact {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.header-contact a {
  display: inline-block;
  margin-left: 10px;
}

.header-contact img {
  width: 24px;
  height: 24px;
  filter: invert(1); /* Invertimos los colores de los íconos para hacerlos visibles */
}

.header-contact {
  margin-bottom: 1rem;
  }
  .project-image {
    display: block;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 100%;
  }
}


@media (max-width: 480px) {
  .content-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .header-image {
    padding: 0.5rem;
  }

  .header-contact {
    flex-wrap: nowrap;
  }

  .header-contact a {
    margin-left: 10px;
    margin-top: 0;
  }
  nav ul li a {
    color: #fff;
    margin: 1rem;
  }
  .project-image {
    display: block;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 100%;
  }
}